.profile__edit-button {
    width: 24px;
    height: 24px;
    border-radius: 0;
    border: 1px solid #FFFFFF;
    background-color: inherit;
    background: url(../../../images/Edit-Button.svg) center no-repeat;
    align-self: center;
    outline: none;
    box-sizing: border-box;
}

.profile__edit-button:hover {
    transition: opacity linear 0.3s;
    opacity: 0.6;
    cursor: pointer;
}