.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background: url(../../../images/close-icon.svg) center no-repeat;
    align-self: flex-end;
    border: none;
    outline: none;
    background-size: 140%;
}

.popup__close:hover {
    transition: opacity linear 0.3s;
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 520px) {
    .popup__close {
        width: 26px;
        height: 26px;
        right: 4px;
        top: -45px;
    }
}